@()
<div id="container2">

<h2>Login Page</h2>
    <label for="load-username">Username:</label>
    <input type="text" name="username" id="load-username">
    <label for="load-password">Password:</label>
    <input type="password" name="password" id="load-password">
<button onclick="login()">Login</button>

<br>
<h2>Create User</h2>
    <label for="created-username">Username:</label>
    <input type="text" name="username" id="created-username"></input>
    <label for="created-password">Password: </label>
    <input type="password" name="password" id="created-password"></input>
<button onclick="createUser()">Sign-up</button>
<br>

</div>